---
layout: splash
permalink: /
title: " "
header:
  image: /assets/images/barleywine-2021.jpg
sidebar:
  nav: "comps"
feature_row:
  - alt: "Monthly Meetings"
    title: "Monthly Meetings"
    excerpt: "We meet the first Wednesday of every month at the Smokestack in West Point, MS at 6:30 PM."
  - image_path: /assets/images/smokestack.jpg
    alt: "The Smokestack"
    excerpt: "Please visit The Smokestack in West Point, MS, he has been our biggest supporter through the years."
    url: "https://www.instagram.com/wpsmokestack/"
    btn_label: "Instagram"
    btn_class: "btn--primary"
  - image_path: /assets/images/AHA-webbanner-250x250.jpg
    alt: "American Homebrewers Association"
    excerpt: "Support us by joining the AHA through our sponsored link."
    url: "http://www.homebrewersassociation.org/pages/grow-your-business/banner-ads/golden-triangle-brewers"
    btn_label: "Join the AHA"
    btn_class: "btn--primary"
---
<h3> Welcome </h3>
The Golden Triangle Brewers are a group of home brewers who want to share the enjoyment and passion of the craft with others. We meet the first Wednesday of every month at The Smokestack’s Brandon Walker Smoking Lounge in West Point, MS. The meetings start at 6:30 PM.

{% include feature_row id="intro" type="center" %}

{% include feature_row %}
